.footer__top-section {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.footer__achiv-block {
  max-width: 260px;
  margin-right: 40px;
}

.footer__logo-block {
  margin-bottom: 20px;
}

.footer__achiv-text {
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.footer__nav {
  width: 860px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
}

.footer__nav-title {
  margin-bottom: 21px;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.footer__nav-list {
  list-style: none;
}

.footer__nav-item {
  margin-bottom: 20px;
  font-family: 'Montserrat-Medium';
}

.footer__nav-link {
  color: rgba(31, 32, 65, 0.5);
}

.footer__nav-subscribe {
  max-width: 260px;
}

.footer__nav-subscribe {
  margin-bottom: 20px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.footer__subscribe-wrapper {
  position: relative;

  i {
    position: absolute;
    right: 13px;
    top: 13px;
  }
}

.footer__subscribe-input {
  padding: 12px 44px 8px 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 24px;
  &::placeholder {
    color: rgba(31, 32, 65, 0.25);
  }

  &:hover,
  &:focus {
    border-color: rgba(31, 32, 65, 0.5);

    &::placeholder {
      color: rgba(31, 32, 65, 0.75);
    }
  }

}