.header {

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo-block {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header__nav-item {
  margin-right: 20px;
}

.header__nav-link {
  color: $main-text-color;

}

.more-arrow {
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  background: transparent;
}