.user-block {
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 15px;

  button {
    padding: 9px 20px;
    text-transform: uppercase;
    border-radius: 22px;


  }
}

.user-block__login-button {
  margin-right: 20px;
  font: inherit;
  box-sizing: border-box;
  border: 2px solid rgba(188, 156, 255, 1);
  color: #bc9cff;

  &:hover,
  &:focus {
    border-color:rgba(188, 156, 255, 0.5);
  }
}

button.user-block__registr-button {
  background: $main-button-bg;
  color: #ffffff;
  padding: 11px 22px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}